@model ScheduleUsers.ViewModels.UserDetailsViewModel

<style>
    
    /*table, td, th {
        border-spacing: initial;
        border-collapse: separate;
        border: 1px dotted black;
        width: 50%;
    }*/

    /*#details {
        background-color: white;
    }*/    
    
    /*body .modal {
        
    }*/
    
</style>

<div style="overflow: auto";>
    <table class="table" id="details">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HireDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Department)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Position)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HourlyPayRate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fulltime)
            </th>
        </tr>

        <tr>
            <td>
                @Html.DisplayFor(modelItem => Model.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.Address)
            </td>
            <td>
                @Html.DisplayFor(model => Model.HireDate)
            </td>
            <td>
                @Html.DisplayFor(model => Model.Department)
            </td>
            <td>
                @Html.DisplayFor(model => Model.Position)
            </td>
            <td>
                @Html.DisplayFor(model => Model.HourlyPayRate)
            </td>
            <td>
                @Html.DisplayFor(model => Model.Fulltime)
            </td>
        </tr>
    </table>
</div>

