@model IEnumerable<MonsterDB.Models.Monster>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm())
{
    <p>
        Search Monsters: @Html.TextBox("SearchString")
        <input type="submit" value="Search" />
    </p>
}


<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Monster ID", "Index", new { sortOrder = ViewBag.IdSortParm })
        </th>
        <th>
            @Html.ActionLink("Monster Name", "Index", new { sortOrder = ViewBag.NameSortParm })
        </th>
        <th>
            @Html.ActionLink("Monster HP", "Index", new { sortOrder = ViewBag.HPSortParm })
        </th>
        <th>
            @Html.ActionLink("Monster Race", "Index", new { sortOrder = ViewBag.RaceSortParm })
        </th>
        <th>
            @Html.ActionLink("Monster Property", "Index", new { sortOrder = ViewBag.PropertySortParm })
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Monster_ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Monster_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Monster_HP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Monster_Race)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Monster_Property)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Monster_ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.Monster_ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Monster_ID })
            </td>
        </tr>
    }

</table>
